{
	"jars": [
		{
			"key": "sqlite",
			"jar": "dbJar.jar",
			"factory": "persistance.dbJar.DBAbstractFactory",
			"gameDAO": "persistance.dbJar.DBGameDAO",
			"userDAO": "persistance.dbJar.DBUserDAO"
		},
		{
			"key": "file",
			"jar": "fileJar.jar",
			"factory": "persistance.fileJar.FileAbstractFactory",
			"gameDAO": "persistance.fileJar.FileGameDAO",
			"userDAO": "persistance.fileJar.FileUserDAO"
		}
	]
}